.custom-checkbox {
  @include flex(flex-start, center);
  cursor: pointer;
  &:hover {
    color: $main-color;
  }
  input {
    // how element not move to window in absolute
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 0;
    height: 0;
  }
  &__checkmark {
    // how span respect width and margins
    width: 15px;
    height: 15px;
    border: 1px solid $text-second-color;
    margin-right: 10px;
    i {
      transform: scale(0);
      transition: transform 0.5s;
    }
  }
  input:checked ~ &__checkmark {
    background-color: $main-color;
    border-color: $main-color;
    color: $text-white;
  }
  input:checked ~ &__checkmark > i {
    transform: scale(1);
  }
}
